<section class="flex justify-center items-center bg-black h-screen text-center relative overflow-hidden">
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-white pt-40 text-[40px] font-medium">Disfrute de Tesla</h2>
            <p class="text-white text-sm">Programe una prueba de conducción hoy mismo</p>
        </header>

        <footer class="flex flex-grow justify-end flex-col pb-20">
            <div>
                <a class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 hover:bg-white hover:text-black transition-colors" href="#">
                    Prueba de conducción
                </a>
            </div>
        </footer>
    </div>
    
    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <video class="object-center object-cover h-full w-full" autoplay muted loop src="/video.webm"></video>
    </div>
</section>